
@media (min-width:320px) and (max-width:375.99px){
   /* Nav part Start */
   .common-button a:hover{
    background-color: #4CAF4F;
    color: white;
 
 }
    .navbar .navbar-nav{
        border-radius: 10px;
       background: rgb(61, 137, 199); 
       align-items: center;
       margin-top: 12px;
       padding-bottom: 20px;
       margin-bottom: 12px;
    }
    .navbar-toggler-icon {
        width: 1.0em;
        height: 1.0em;
    }
    .navbar .navbar-nav .nav-item .nav-link{
       color: white;
       font-size: 14px;
    }
    .navbar .nav-button {
        margin-top: 18px;
        text-align: center;
    }
    nav .nav-button a{

        background: #4CAF4F;
        color: #F5F7FA;

    }
    nav .nav-button a:hover{
        background: #4CAF4F;
        color: white;
    }
    nav .nav-button a:last-child:hover{
        background: #4CAF4F;
        color: #F5F7FA;
    }
    /* nav part end */
    /* lesson part start */
    .lessons {
        background: #F5F7FA;
        padding: 15px 0;
    }
    .lessons h1 {
        font-size: 32px;
       
    }
    .lessons p {
       
        font-size: 14px;
       
    }
    .lessons .image1 {
       
        width: 240px;
        display: flex;
        justify-content: center;
        padding-top: 35px;
    }
    /* lesson part end */
    /* client part start */
    .client .common-heading h2 {
        font-size: 28px;
    }
    .client p {
        font-size: 14px;
        padding: 0 8px;
    }
    /* client part end */
    /* banner part start */
    img, svg {
        vertical-align: middle;
        width: 97%;
      
    }
    /* banner part end */
    /* manage part start */
    .manage h2 {
        width: 300px;
        margin: 0 auto;
        font-size: 27px;
    }
    .manage p {
        font-size: 14px;
    }
    /* manage part end */
    /* Community-cart part start */
    .community-cart .card-title {
        font-size: 26px;
    }
    .community-cart .card-text {
        width: auto;
        font-size: 14px;
    }
    .community-cart .card {
        margin-bottom: 20px;
    }
    /* Community-cart part end */
    /* unseen part start */
    .unseen {
        padding: 0 8px;
    }
    .unseen .col-lg-7 {
        padding: 8px 0;
    }
    .unseen h2 {
        width: 290px;
    }
    .common-heading {
        font-size: 28px;
        padding: 0 8px;
    }
    .unseen p {
        font-size: 14px;
        padding: 0 8px;
    }
    .unseen .common-button{
        padding-left: 10px;
    }
    /* unseen part end */
    /* business part start */
    .busines h3 {
        width: 300px;
    }
    .busines p {
        font-size: 14px;
        padding: 0 8px;
    }
    /* business part end */
    /* mececians part start */
   .meacians .row > * {

      padding-right: 0;
      padding-left:  0;
      margin-top:  0;
    }
    .meacians {
        padding: 26px 8px;
    }
    .meacians .meet-part {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
    }
    .meacians p {
        font-size: 14px;
        padding: 0 8px;
    }
    .meacians h4 {
        font-size: 14px;
        padding: 0 8px;
    }
    .meacians .meet-icon {
        padding-left: 10px;
        width: 28%;
    }
    /* mececians part end */
    /* marketing part start */
    .marketing p {
        width: 300px;
        margin: 0 auto;
        font-size: 14px;
    }
    .marketing h2 {
        font-size: 32px;
    }
    /* marketing part end */
    /* cart part start */
    .card-part .overlay{
        width: 80%;
     
     }
     .card-part .image-part{
        margin-bottom: 110px;
     }
     .card-part .image-part .overlay {

        position: absolute;
        top: 154px;
        left: 27px;
        padding-bottom: 15px;
    }
    .card-part .image-part .overlay p {
        width: 80%;
        font-size: 14px;
    }
    .card-part .image-part .overlay .common-button {
        padding-left: 46px;
    }
    /* cart part end */
    /* suscipit part start */
    .suscipit p {
        width: 319px;
        margin: 0 auto;
        font-size: 44px;
    }
    /* suscipit part end */
    /* footer part start */
    .footer img {
        padding-bottom: 32px;
    }
    .footer-img {
        width: 70%;
        margin: 0 auto;
    }
    .footer h6 {
        font-size: 12px;
        text-align: center;
    }
    .footer .icon ul {

        justify-content: center;
       padding-top: 22px;
    }
    .footer .icon1{
        padding-top: 22px;
        text-align: center;
    }
    .footer .icon1 h4 {
        font-size: 18px;
        padding-bottom: 12px;
    }
    .footer .icon1 ul {

        row-gap: 6px;
    }
    .footer .icon1 ul li {
        font-size: 12px;
        font-weight: 400;
        font-family: "Inter", serif;
        color: #F5F7FA;
    }
    .footer .icon1 .form-part{
        width: 85%;
        margin: 0 auto;
    }
    .footer .fa-regular {
        position: relative;
        left: 109px;
        top: -33px;
    }
    /* footer part end */
}
@media (min-width:576px) and (max-width:767.99px){
   /* Nav part Start */
   .common-button a:hover{
    background-color: #4CAF4F;
    color: white;
 
 }
    .navbar .navbar-nav{
        border-radius: 10px;
       background: rgb(61, 137, 199); 
       align-items: center;
       margin-top: 12px;
       padding-bottom: 20px;
       margin-bottom: 12px;
    }
    .navbar-toggler-icon {
        width: 1.0em;
        height: 1.0em;
    }
    .navbar .navbar-nav .nav-item .nav-link{
       color: white;
       font-size: 14px;
    }
    .navbar .nav-button {
        margin-top: 18px;
        text-align: center;
    }
    nav .nav-button a{

        background: #4CAF4F;
        color: #F5F7FA;

    }
    nav .nav-button a:hover{
        background: #4CAF4F;
        color: white;
    }
    nav .nav-button a:last-child:hover{
        background: #4CAF4F;
        color: #F5F7FA;
    }
    /* nav part end */
    /* lesson part start */
    .lessons {
        background: #F5F7FA;
        padding: 15px 0;
    }
    .lessons h1 {
        font-size: 32px;
       
    }
    .lessons p {
       
        font-size: 14px;
       
    }
    .lessons .image1 {
       
        width: 240px;
        display: flex;
        justify-content: center;
        padding-top: 35px;
    }
    /* lesson part end */
    /* client part start */
    .client .common-heading h2 {
        font-size: 28px;
    }
    .client p {
        font-size: 14px;
        padding: 0 8px;
    }
    /* client part end */
    /* banner part start */
    img, svg {
        vertical-align: middle;
        width: 97%;
      
    }
    /* banner part end */
    /* manage part start */
    .manage h2 {
        width: 300px;
        margin: 0 auto;
        font-size: 27px;
    }
    .manage p {
        font-size: 14px;
    }
    /* manage part end */
    /* Community-cart part start */
    .community-cart .card-title {
        font-size: 26px;
    }
    .community-cart .card-text {
        width: auto;
        font-size: 14px;
    }
    .community-cart .card {
        margin-bottom: 20px;
    }
    /* Community-cart part end */
    /* unseen part start */
    .unseen {
        padding: 0 8px;
    }
    .unseen .col-lg-7 {
        padding: 8px 0;
    }
    .unseen h2 {
        width: 510px;
    }
    .common-heading {
        font-size: 28px;
        padding: 0 8px;
    }
    .unseen p {
        font-size: 14px;
        padding: 0 8px;
    }
    .unseen .common-button{
        padding-left: 10px;
    }
    /* unseen part end */
    /* business part start */
    .busines h3 {
        width: 455px;
    }
    .busines p {
        font-size: 14px;
        padding: 0 8px;
    }
    /* business part end */
    /* mececians part start */
   .meacians .row > * {

      padding-right: 0;
      padding-left:  0;
      margin-top:  0;
    }
    .meacians {
        padding: 26px 8px;
    }
    .meacians .meet-part {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
    }
    .meacians p {
        font-size: 14px;
        padding: 0 8px;
    }
    .meacians h4 {
        font-size: 14px;
        padding: 0 8px;
    }
    .meacians .meet-icon {
        padding-left: 10px;
        width: 28%;
    }
    /* mececians part end */
    /* marketing part start */
    .marketing p {
        width: 300px;
        margin: 0 auto;
        font-size: 14px;
    }
    .marketing h2 {
        font-size: 32px;
    }
    /* marketing part end */
    /* cart part start */
    .card-part .overlay{
        width: 80%;
     
     }
     .card-part .image-part{
        margin-bottom: 110px;
     }
     .card-part .image-part .overlay {
        position: absolute;
        top: 310px;
        left: 42px;
        padding-bottom: 15px;
    }
    .card-part .image-part .overlay p {
        width: 80%;
        font-size: 14px;
    }
    .card-part .image-part .overlay .common-button {
        padding-left: 132px;
    }
    /* cart part end */
    /* suscipit part start */
    .suscipit p {
        width: 319px;
        margin: 0 auto;
        font-size: 44px;
    }
    /* suscipit part end */
    /* footer part start */
    .footer img {
        padding-bottom: 32px;
    }
    .footer-img {
        width: 70%;
        margin: 0 auto;
    }
    .footer h6 {
        font-size: 12px;
        text-align: center;
    }
    .footer .icon ul {

        justify-content: center;
       padding-top: 22px;
    }
    .footer .icon1{
        padding-top: 22px;
        text-align: center;
    }
    .footer .icon1 h4 {
        font-size: 18px;
        padding-bottom: 12px;
    }
    .footer .icon1 ul {

        row-gap: 6px;
    }
    .footer .icon1 ul li {
        font-size: 12px;
        font-weight: 400;
        font-family: "Inter", serif;
        color: #F5F7FA;
    }
    .footer .icon1 .form-part{
        width: 85%;
        margin: 0 auto;
    }
    .footer .fa-regular {
        position: relative;
        left: -32px;
        top: -2px;
    }
    /* footer part end */
}
@media (min-width:768px) and (max-width:991px){
   /* Nav part Start */
   .common-button a:hover{
    background-color: #4CAF4F;
    color: white;
 
 }
    .navbar .navbar-nav{
        border-radius: 10px;
       background: rgb(61, 137, 199); 
       align-items: center;
       margin-top: 12px;
       padding-bottom: 20px;
       margin-bottom: 12px;
    }
    .navbar-toggler-icon {
        width: 1.0em;
        height: 1.0em;
    }
    .navbar .navbar-nav .nav-item .nav-link{
       color: white;
       font-size: 14px;
    }
    .navbar .nav-button {
        margin-top: 18px;
        text-align: center;
    }
    nav .nav-button a{

        background: #4CAF4F;
        color: #F5F7FA;

    }
    nav .nav-button a:hover{
        background: #4CAF4F;
        color: white;
    }
    nav .nav-button a:last-child:hover{
        background: #4CAF4F;
        color: #F5F7FA;
    }
    /* nav part end */
    /* lesson part start */
    .lessons {
        background: #F5F7FA;
        padding: 15px 0;
    }
    .lessons h1 {
        font-size: 32px;
       
    }
    .lessons p {
       
        font-size: 14px;
       
    }
    .lessons .image1 {
        width: 315px;
        padding-top: 35px;
    }
    /* lesson part end */
    /* client part start */
    .client .common-heading h2 {
        font-size: 28px;
    }
    .client p {
        font-size: 14px;
        padding: 0 8px;
    }
    /* client part end */
    /* banner part start */
    img, svg {
        vertical-align: middle;
        width: 97%;
      
    }
    /* banner part end */
    /* manage part start */
    .manage h2 {
        width: 300px;
        margin: 0 auto;
        font-size: 27px;
    }
    .manage p {
        font-size: 14px;
    }
    /* manage part end */
    /* Community-cart part start */
    .community-cart .card-title {
        font-size: 26px;
    }
    .community-cart .card-text {
        width: auto;
        font-size: 14px;
    }
    .community-cart .card {
        margin-bottom: 20px;
    }
    /* Community-cart part end */
    /* unseen part start */
    .unseen {
        padding: 0 8px;
    }
    .unseen .col-lg-7 {
        padding: 8px 0;
    }
    .unseen h2 {
        width: 560px;
    }
    .common-heading {
        font-size: 28px;
        padding: 0 8px;
    }
    .unseen p {
        font-size: 14px;
        padding: 0 8px;
    }
    .unseen .common-button{
        padding-left: 10px;
    }
    /* unseen part end */
    /* business part start */
    .busines h3 {
        width: 520px;
    }
    .busines p {
        font-size: 14px;
        padding: 0 8px;
    }
    /* business part end */
    /* mececians part start */
   .meacians .row > * {

      padding-right: 0;
      padding-left:  0;
      margin-top:  0;
    }
    .meacians {
        padding: 26px 8px;
    }
    .meacians .meet-part {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
    }
    .meacians p {
        font-size: 14px;
        padding: 0 8px;
    }
    .meacians h4 {
        font-size: 14px;
        padding: 0 8px;
    }
    .meacians .meet-icon {
        padding-left: 10px;
        width: 28%;
    }
    /* mececians part end */
    /* marketing part start */
    .marketing p {
        width: 300px;
        margin: 0 auto;
        font-size: 14px;
    }
    .marketing h2 {
        font-size: 32px;
    }
    /* marketing part end */
    /* cart part start */
    .card-part .overlay{
        width: 80%;
     
     }
     .card-part .image-part{
        margin-bottom: 110px;
     }
     .card-part .image-part .overlay {
        position: absolute;
        top: 431px;
        left: 56px;
        padding-bottom: 15px;
    }
    .card-part .image-part .overlay p {
        width: 80%;
        font-size: 14px;
    }
    .card-part .image-part .overlay .common-button {
        padding-left: 193px;
        padding-top: 25px;
    }
    /* cart part end */
    /* suscipit part start */
    .suscipit p {
        width: 440px;
        margin: 0 auto;
        font-size: 44px;
    }
    /* suscipit part end */
    /* footer part start */
    .footer img {
        padding-bottom: 32px;
    }
    .footer-img {
        width: 70%;
        margin: 0 auto;
    }
    .footer h6 {
        font-size: 12px;
        text-align: center;
    }
    .footer .icon ul {

        justify-content: center;
       padding-top: 22px;
    }
    .footer .icon1{
        padding-top: 22px;
        text-align: center;
    }
    .footer .icon1 h4 {
        font-size: 18px;
        padding-bottom: 12px;
    }
    .footer .icon1 ul {

        row-gap: 6px;
    }
    .footer .icon1 ul li {
        font-size: 12px;
        font-weight: 400;
        font-family: "Inter", serif;
        color: #F5F7FA;
    }
    .footer .icon1 .form-part{
        width: 85%;
        margin: 0 auto;
    }
    .footer .fa-regular {
        position: relative;
        left: -28px;
        top: -3px;
    }
    /* footer part end */
}