.common-button a{
   text-decoration: none;
   background: #4CAF4F;
   color: white;
   font-size: 16px;
   font-weight: 500;
   font-family: "Inter", serif;
   padding: 14px 32px;
   border-radius: 4px;
   display: inline-block;

}
.box{
    display: flex;
}
/* nav part start */
nav{
    background: #F5F7FA;
    padding: 30px 0  !important;
}

nav .nav-item{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", serif;
    color: #18191F;

}

nav .nav-button a{
    text-decoration: none;
    background: #F5F7FA;
    color: black;
    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 6px;
    margin-left: 10px;
    border: 1px solid #4CAF4F;
}
nav .nav-button a:hover{
    background: #4CAF4F;
    color: white;
}

/* nav part end */

/* lesson part start */
.lessons {
    background: #F5F7FA;
    padding: 80px 0;
    
}
.lessons .lesson1{
    padding-left: 30px !important;
}
.lessons h1{
    
    font-size: 64px;
    font-weight: 600;
    font-family: "Inter", serif;
    color: #4D4D4D;

}
.lessons h1 span{
    
    color: #4CAF4F;
}
.lessons p{
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", serif;
    padding-top: 16px;
    padding-bottom: 32px;

}
.lessons .image1{
    padding-left: 42px !important;
}
/* lesson part end */
/* client part start */
.client{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 40px;
}

 .common-heading{
    font-size: 36px;
    font-weight: 600;
    font-family: "Inter", serif;
    color: #4D4D4D;
}
.client p{
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", serif;
}

/* client part end */

/* Banner part start */
.banner{
    padding: 20px 0;
}
/* Banner part End */
/* manage part start */
.manage{
    text-align: center;
    padding: 40px 0;
}
.manage h2{
    width: 475px;
    margin: 0 auto;
}
.manage p{
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", serif;
    padding-top: 8px;
    padding-bottom: 10px;
}
/* manage part end */
/* community cart part start */
.community-cart{
    padding-top: 16px;
    padding-bottom: 40px;
}
.community-cart .card{
    width: 100% !important;
    padding: 0 48px;
    text-align: center;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(171,190,209,1);
-moz-box-shadow: 0px 4px 4px 0px rgba(171,190,209,1);
box-shadow: 0px 4px 4px 0px rgba(171,190,209,1);
}
.community-cart .card img{
    width: 65px;
    margin: 0 auto;
}
.community-cart .card-title{
    font-size: 36px;
    font-weight: 500;
    font-family: "Inter", serif;
    color: #4D4D4D;
    
}
.community-cart .card-text{
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", serif;
    width: 250px;
    
}
/* community cart part end */
/* unseen part Start */
.unseen{
    padding-top: 48px ;
}
.unseen h2{
    width: 580px;
}
.unseen p{
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", serif;
    padding-top: 16px;
    padding-bottom: 32px;
}
.unseen .col-lg-7{
    padding: 80px 0;
}
/* unseen part end */
/* business part start */
.busines{
    background: #F5F7FA;
    margin-top: 48px;
    padding: 64px 0;
}

.busines h3 span{
    color: #4CAF4F;
}
.busines h3 {
    width: 390px;
}
.busines p {
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", serif;
}
.busines .box{
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
}

.busines .box .details{
    width: 48%;
    display: flex;
    column-gap: 10px;
    
}


/* business part end */
/* meacians part start */
.meacians{
    background: #F5F7FA;
    padding: 32px;
}
.meacians p{
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", serif;
}
.meacians h4{
    color: #4CAF4F;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", serif;
}
.meacians .meet-part{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}
.meacians .meet-part p{
    color: #4CAF4F;
    
}
.meacians .meet-part p i{
    padding-left: 10px;
    
}
/* meacians part end */
/* merketing part start */
.marketing{
   text-align: center;
   padding-top: 32px;
   padding-bottom: 16px;
}
.marketing p{
     width: 597px; 
     margin: 0 auto;
     color: #717171;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", serif;
}
.marketing h2{
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 500;
    font-family: "Inter", serif;
}
/* merketing part end */